<!DOCTYPE html>
<html th:lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <body>
        <div th:fragment="footer">
            <footer style="position: absolute; bottom: 0; height: 60px; line-height: 60px" class="footer bg-faded w-100">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">© 2017 Maresme Web Developers.</div>
                        <div class="col-sm-4 text-right">ToDoList APP V2.0.0</div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>