<!DOCTYPE html>
<html th:lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: header"></head>
<body>
<div th:replace="common/body/navbar :: navbar"></div>
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-plus" aria-hidden="true"></i> Añadir tarea
                </div>
                <div class="card-block">
                    <form method="post" th:action="@{/todo/add}" th:object="${toDo}">
                        <div th:class="${#fields.hasErrors('name')} ? 'form-group row has-danger' : (*{name == null} ? 'form-group row' : 'form-group row has-success')">
                            <label for="name" class="col-sm-3 col-form-label">Nombre</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-fw fa-user fa" aria-hidden="true"></i></span>
                                    <input th:field="*{name}" type="text" th:class="${#fields.hasErrors('name')} ? 'form-control form-control-danger' : (*{name == null} ? 'form-control' : 'form-control form-control-success')" placeholder="nombre de la tarea" required="required"/>
                                </div>
                                <div th:if="${#fields.hasErrors('name')}" class="form-control-feedback">El nombre de la tarea debe contener entre 2 y 50 caracteres</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-md btn-block">Añadir</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="mt-4 hidden-sm-up"></div>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-table" aria-hidden="true"></i> Lista de tareas
                </div>
                <div class="card-block table-responsive">
                    <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <td>Nombre</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-th-each="toDo : ${toDoList}" th:object="${toDo}">
                                <td data-th-text="*{name}"></td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <form method="post" th:action="@{/todo/delete}">
                                            <input type="hidden" th:value="*{id}" name="toDoId"/>
                                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/body/footer :: footer"></div>
</body>
</html>